<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcradleandroidapp">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCradleAndroidApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".user_interfaces.live_streaming.LiveSteamingActivity"
            android:parentActivityName=".user_interfaces.home.HomeActivity" />
        <activity
            android:name=".user_interfaces.assistent.VoiceAssistantActivity"
            android:parentActivityName=".user_interfaces.home.HomeActivity" />
        <activity
            android:name=".user_interfaces.settings.DummySettings"
            android:parentActivityName=".user_interfaces.home.HomeActivity" />
        <activity
            android:name=".user_interfaces.settings.SettingsActivity"
            android:parentActivityName=".user_interfaces.home.HomeActivity" />
        <activity
            android:name=".AmbientInspectionActivity"
            android:parentActivityName=".user_interfaces.home.HomeActivity" />
        <activity
            android:name=".user_interfaces.home.HomeActivity"
            android:theme="@style/Theme.SmartCradleAndroidApp.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Service -->
        <service android:name=".service.CradleService" />
    </application>

</manifest>